extends layout



block content
    -var a = "A Value"
    h1= title
    p= "P text"
    if users.length > 10
        ul
            each user in users
                li name: #{user.name}, #{user.age} ages
    else
        p No users

    p #{a}

    ul
        - for(var i=0; i<=5; i++)
            li Item #{i}